
:root {
    --light: #f9f9f9;
    --blue: #00D4B0;
    --teal: #3FA9F5;
    --gray: #eee;
    --dark-gray: #aaa;
    --dark: #342e37;
    --bright: #00F800;
    --green: #018141;
    --orange: #fd7238;
    --red: #db504a;
    --purple: #C378E1;
}