@import url("props.css");

#display-dashboard {
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--dark);
}

#display-dashboard .left {
    height: 100vh;
    flex-grow: 4;
    padding: 1rem;
    background-color: var(--light);
    border-top-left-radius: 1rem;
}

#display-dashboard .left .date {
    border-bottom: 2px solid var(--dark-gray);
}

#display-dashboard .left .date h2 {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--poppins);
}

#display-dashboard .right {
    height: 100vh;
    flex-grow: 3;
    padding: 2rem;
    background-color: var(--dark);
    border-top-right-radius: 1rem;
    color: var(--light);
}

#display-dashboard .right h2 {
    font-family: var(--poppins);
    font-size: 1.5rem;
    text-align: center;
    color: var(--light);
    
}

#display-dashboard .right .time h3 {
    margin: 2rem auto;
}

#display-dashboard .right .time #output {
    font-family: var(--tech);
    font-size: 3rem;
    margin: 1rem auto;
    letter-spacing: 0.5rem;
}

#display-dashboard .right .line-chart {
    width: 100%;
    height: 10rem;
    border: 2px solid white;
    border-radius: 0.25rem;
}

.tasks .agenda .progress-bar {
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tasks .agenda .progress-bar .progress {

    padding: 1rem;
    margin: auto;
}

.tasks .agenda .progress-bar .progress .text{

    margin-left: 1rem;
}

.tasks .agenda .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray);
    border: 2px solid var(--dark-gray);
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    cursor: pointer;
    position: relative;
}

.tasks .agenda .task:hover {
    background-color: var(--bright);
    border-color: var(--dark);
    color: white;
}

.tasks .agenda .task::before {
    content: "";
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-image: url(../images/unchecked.svg);
    background-size: cover;
    background-position: center;
    top: 2rem;
    left: 0.2rem;
}

.tasks .agenda .task.checked{
    border-color: var(--bright);
}

.tasks .agenda .task.checked:hover{
    background-color: var(--gray);
    color: var(--dark);
}

.tasks .agenda .task.checked::before {
    background-image: url(../images/checked.svg);
}


.tasks .agenda .task i {
    cursor: pointer;
}


.tasks .agenda .task .task-entry {
    margin-left: 1rem;
    font-size: 0.7rem;
}


.tasks .agenda .task .task-entry p {
    margin: 0.5rem auto;
    font-size: 1rem;
}

.tasks .agenda .task .task-entry .task-info{
    display: flex;
    align-items: center;
    margin: 0.5rem auto;
}

.tasks .agenda .task .task-entry .task-info time {
    font-weight: 600;
    color: var(--dark-gray);
}

.tasks .agenda .task .task-entry .task-info time i {
    margin: auto 0.25rem;
    font-weight: 600;
    color: var(--dark-gray);
}

.tasks .agenda .task .task-entry .task-info .progress {
    margin-left: 4rem;
    
}

.tasks .agenda .btn-item button{
    margin-left: 2rem;
    padding: 0.75rem 1rem;
    color: var(--light);
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, var(--blue), var(--bright));
    cursor: pointer;
}

.tasks .agenda .btn-item button:hover{
    background: var(--light);
    border: 2px solid var(--bright);
    color: var(--bright);
}

.popup header .title .icon {
    background-color: var(--blue);
    padding: 0.25rem;
    color: white;
    border-radius: 0.25rem;
}

.popup .body .items li {
    cursor: pointer;
    margin: 1.5rem auto;
}

.popup .body .items li i {
    margin-left: 0.25rem;
}

.popup .body .items li div {
    margin-top: 0.5rem;
}

.popup .body .items li .title {
    font-weight: bold;
}

.popup .body .items li input {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
}

.popup .body .items li .entry .time{
    padding: 1rem;
    height: 1rem;
    width: 5rem;
}

.popup .body .items li .entry label {
    margin-left: 1rem;
}


