@font-face {
    font-family: Ubuntu-Regular;
    src: url("../fonts/Ubuntu-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


:root {
    --ubuntu: Ubuntu-Regular, sans-serif;
    --poppins: "Poppins", sans-serif;
    --lato: "Lato", sans-serif;

    --light: #f9f9f9;
    --blue: #00d4b0;
    --light-blue: #cfe8ff;
    --gray: #eee;
    --dark-gray: #aaa;
    --dark: #342e37;
    --red: #db504a;
    --yelow: #fce26;
    --light-yellow: #fff2c6;
    --orange: #fd7238;
    --light-orange: #ffb38a;
    --green: #00f800;
    --bright: #00e54b;
    --purple: #be2ed6;
}


body {
    font-family: var(--lato);
    background-color: var(--gray);
}

#sidebar {
    background-color: var(--light);
    font-family: var(--lato);
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    z-index: 1000;
    overflow-x: hidden;
}

#sidebar.hide {
    width: 60px;
}

#sidebar .brand {
    font-size: 32px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: baseline;
    margin-top: 20px;
    margin-left: 16px;
    font-family: var(--ubuntu);
}

#sidebar .brand .text {
    background: linear-gradient(90deg, var(--blue), var(--green));
    background-clip: text;
    color: transparent;
    margin-left: 6px;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

#sidebar .side-menu li {
    height: 48px;
    background-color: transparent;
    margin-left: 10px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

#sidebar .side-menu li.active {
    background-color: var(--gray);
    position: relative;
}

#sidebar .side-menu li.active a {
    color: var(--bright);
}

#sidebar .side-menu li.active::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    right: 0;
    top: -40;
    box-shadow: 20px 20px 0 var(--gray);
    z-index: -1;
}

#sidebar .side-menu li.active::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    bottom: -40;
    right: 0;
    box-shadow: 20px -20px 0 var(--gray);
    z-index: -1;
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background-color: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
}

#sidebar .hide .side-menu li.active a {
    color: var(--bright);
}

#sidebar .hide .side-menu li a {
    width: calc(48px - (4px * 2));
    
}

#sidebar .side-menu li a:hover {
    color: var(--bright);
}

#sidebar .side-menu li a .bx {
    min-width: calc(64px - (( 4px + 6px) * 2));
    display: flex;
    justify-content: center;
}

#sidebar .side-menu li a.logout {
    color: var(--red);
}

#content {
    position: relative;
    width: calc(100% - 280px);
    left: 280;
}

#sidebar.hide ~ #content {
    width: calc(100% - 60px);
    left: 60px;
}

#content header nav {
    height: 56px;
    background-color: var(--light);
    padding: 0 24px;
    font-family: var(--lato);
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: relative;
}

#content header nav::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

#content header nav a {
    color: var(--dark);
}

#content header nav .bx.bx-menu {
    font-size: 20px;
    transition: 0.2s ease;
    cursor: pointer;
}

#content header nav .bx.bx-menu:hover {
    color: var(--bright);
}

#content header nav .nav-link {
    font-size: 16px;
    transition: 0.2s ease;
}

#content header nav .nav-link:hover {
    color: var(--bright);
}

#content header nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

#content header nav form .search-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 36px;
    border-radius: 36px;
    background-color: var(--gray);
}

#content header nav form .search-bar input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    
    border: none;
    outline: none;
    background-color: var(--gray);
    border-radius: 36px 0 0 36px;
}

#content header nav form .search-bar button {
    width: 48px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, var(--blue), var(--green));
    color: var(--light);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 36px;
    cursor: pointer;
}

#content header nav .notification {
    font-size: 24px;
    position: relative;
}

#content header nav .notification .num {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var(--light);
    background: var(--red);
    color: var(--light);
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content header nav .profile img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

#content section {
    width: 100%;
    padding: 36px 24px;
    font-family: var(--poppins);
}

#content section.head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

#content section.head-title .left h1{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--dark);
}




#content main {
    padding: 24px;
    margin-left: 16px;
}

main .head-title h1 {
    color: var(--dark);
}

main .container {
    display: flex;
}

main .head-title .breadcrum {
    display: flex;
    align-items: center;
    margin: 10px 5px 10px 5px;
    grid-gap: 8px;
}

main .head-title .breadcrum li a {
    color: var(--dark-gray);
    pointer-events: none;
}

main .head-title .breadcrum li a.active {
    color: var(--bright);
    pointer-events: unset;
}

main .container .left {
    flex-grow: 1;
    height: 100vh;
    background-color: var(--light);
    border-top-left-radius: 20px;
    padding: 16px;
}

main .container .left .date h2{
    font-family: var(--poppins);
    font-weight: 600;
    color: var(--dark);
}

main .container .left .tasks .task-list li.task{
    height: 48px;
    border-top: 2px solid var(--dark-gray);
    border-bottom: 2px solid var(--dark-gray);
    color: red;
}

main .container .right {
    flex-grow: 1;
    height: 100vh;
    background-color: var(--dark-gray);
    border-top-right-radius: 20px;
    padding: 8px;
}

main .container .right h2 {
    text-align: center;
}

main .container .right .info {
    display: grid;
    width: 80%;
    margin: 0 auto;
}

main .container .right .info li {
    padding: 24px;
    background-color: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    margin: 10px 5px;
}

main .container .right .info li .bx {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
}

.right .info li:nth-child(1) .bx {
    color: var(--blue);
}

.right .info li:nth-child(2) .bx {
    color: var(--purple);
}

.right .info li:nth-child(3) .bx {
    color: var(--green);
}

.right .info li:nth-child(4) .bx {
    color: var(--light-orange);
}



 