@font-face {
    font-family: Ubuntu-Regular;
    src: url("../fonts/Ubuntu-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


:root {
    --ubuntu: Ubuntu-Regular, sans-serif;
    --poppins: "Poppins", sans-serif;
    --lato: "Lato", sans-serif;

    --light: #f9f9f9;
    --blue: #00d4b0;
    --light-blue: #cfe8ff;
    --gray: #eee;
    --dark-gray: #aaa;
    --dark: #342e37;
    --red: #db504a;
    --yelow: #fce26;
    --light-yellow: #fff2c6;
    --orange: #fd7238;
    --light-orange: #ffb38a;
    --green: #00f800;
    --bright: #00e54b;

}


body {
    background-color: var(--gray);
}

#sidebar {
    background-color: var(--light);
    font-family: var(--lato);
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    z-index: 1000;
}

#sidebar .brand {
    font-size: 32px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: baseline;
    margin-top: 24px;
    margin-left: 24px;
    font-family: var(--ubuntu);
}

#sidebar .brand .text {
    background: linear-gradient(90deg, var(--blue), var(--green));
    background-clip: text;
    color: transparent;
    margin-left: 5px;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

#sidebar .side-menu li {
    height: 48px;
    background-color: transparent;
    margin-left: 10px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

#sidebar .side-menu li.active {
    background-color: var(--gray);
    position: relative;
}

#sidebar .side-menu li.active a {
    color: var(--bright);
}

#sidebar .side-menu li.active::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    right: 0;
    top: -40;
    box-shadow: 20px 20px 0 var(--gray);
    z-index: -1;
}

#sidebar .side-menu li.active::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    bottom: -40;
    right: 0;
    box-shadow: 20px -20px 0 var(--gray);
    z-index: -1;
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background-color: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    color: var(--dark);
}

#sidebar .side-menu li a:hover {
    color: var(--bright);
}

#sidebar .side-menu li a .bx {
    min-width: calc(60px - (( 4px + 6px) * 2));
    display: flex;
    justify-content: center;
}

#sidebar .side-menu li a.logout {
    color: var(--red);
}