@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
@import url("fonts.css");
@import url("colors.css");
@import url("panel.css");

html {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


